@font-face {
    font-family: 'Scio';
    src: url(/Fonts/gothamrnd_medium.otf);
}


body{
    background-color: #f5f5dc;
    margin: 0;
    padding: 0;
}

main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 100vh;
}

nav{
    grid-row: span 10 / span 10;
    justify-items: center;
    display: grid;
    background-color: #ffff90;
    border: 3px solid #000000;
}

nav img{
    height: auto;
    width: 4vw;
}

.logout{
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 50px;
    font-family: "Scio";
    border-radius: 20px 0 0 0;
    background-color: #009BDE;
    color: white;
    border: 5px solid black;
    cursor: pointer;
    transition: 0.1s;
}

.logout:hover{
    transform: scale(1.05);
    background-color: black;
}

header{
    grid-area: 1 / 2 / 2 / 13;
    background-color: black;
}

header h1{
    color: white;
    font-family: "Scio";
    display: flex;
    justify-content: center;
    font-size: 75px;
    margin: 0;
    padding: 0;
}

.input{
    grid-column: span 6 / span 6;
    grid-column-start: 4;
    grid-row-start: 8;
    background-color: #F6F6F6;
    border: 10px solid #D7D7D7;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 60vw;
}

.input img{
    width: 85px;
    height: auto;
}


.send{
    background-color: transparent;
    border: none;
    transition: 0.2s;
}

.send:hover{
transform: scale(1.1);
}

.send:active{
    transform: scale(0.9);
}

#input{
    flex: 1;
    font-size: 3rem; 
    border: none;    
    background: transparent; 
    padding: 10px 20px;    
    width: 40vw;  
}

#input:focus{
    outline: none;
}

.info{
    grid-column: span 6 / span 6;
    grid-row: span 4 / span 4;
    grid-column-start: 4;
    grid-row-start: 3;
    background-color: rgb(255, 255, 255);
    border: solid 5px gray;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info span{
    font-family: "Scio";
    font-size: 4rem;
}